$alert-success: #4caf50;
$alert-warning: #ff9800;
$alert-error: #f44336;
$alert-info: #2196f3;
$alert-default: #9e9e9e;
$alert-accent: #ff5722;
$alert-primary: #3f51b5;

.mat-snack-bar-container {
  span {
    color: #fff !important;
  }
  &.success {
    // if has var then use var, else use default

    @if global-variable-exists(alert-success) {
      background-color: var(--alert-success) !important;
    } @else {
      background-color: $alert-success !important;
    }
  }
  &.warning {
    @if global-variable-exists(alert-warning) {
      background-color: var(--alert-warning) !important;
    } @else {
      background-color: $alert-warning !important;
    }
  }
  &.error {
    @if global-variable-exists(alert-error) {
      background-color: var(--alert-error) !important;
    } @else {
      background-color: $alert-error !important;
    }
  }
  &.info {
    @if global-variable-exists(alert-info) {
      background-color: var(--alert-info) !important;
    } @else {
      background-color: $alert-info !important;
    }
  }
  &.default {
    @if global-variable-exists(alert-default) {
      background-color: var(--alert-default) !important;
    } @else {
      background-color: $alert-default !important;
    }
  }
  &.accent {
    @if global-variable-exists(alert-accent) {
      background-color: var(--alert-accent) !important;
    } @else {
      background-color: $alert-accent !important;
    }
  }
  &.primary {
    @if global-variable-exists(alert-primary) {
      background-color: var(--alert-primary) !important;
    } @else {
      background-color: $alert-primary !important;
    }
  }

  .mat-simple-snack-bar-content {
    font-weight: 500 !important;
  }
}



.alert-dialog {
  mat-icon {
    &.mat {
      &-success {
        @if global-variable-exists(alert-success) {
          color: var(--alert-success) !important;
        } @else {
          color: $alert-success !important;
        }
      }
      &-warning {
        @if global-variable-exists(alert-warning) {
          color: var(--alert-warning) !important;
        } @else {
          color: $alert-warning !important;
        }
      }
      &-error {
        @if global-variable-exists(alert-error) {
          color: var(--alert-error) !important;
        } @else {
          color: $alert-error !important;
        }
      }
      &-info {
        @if global-variable-exists(alert-info) {
          color: var(--alert-info) !important;
        } @else {
          color: $alert-info !important;
        }
      }
      &-default {
        @if global-variable-exists(alert-default) {
          color: var(--alert-default) !important;
        } @else {
          color: $alert-default !important;
        }
      }
    }
  }
}

.alert-button {
  color: #fff !important;
  &.error {
    @if global-variable-exists(alert-error) {
      background-color: var(--alert-error) !important;
    } @else {
      background-color: $alert-error !important;
    }
  }

  &.warning {
    @if global-variable-exists(alert-warning) {
      background-color: var(--alert-warning) !important;
    } @else {
      background-color: $alert-warning !important;
    }
  }

  &.info {
    @if global-variable-exists(alert-info) {
      background-color: var(--alert-info) !important;
    } @else {
      background-color: $alert-info !important;
    }
    border: none !important;
  }

  &.success {
    @if global-variable-exists(alert-success) {
      background-color: var(--alert-success) !important;
    } @else {
      background-color: $alert-success !important;
    }
  }
  &.default {
    @if global-variable-exists(alert-default) {
      background-color: var(--alert-default) !important;
    } @else {
      background-color: $alert-default !important;
    }
  }
  &.primary {
    @if global-variable-exists(alert-primary) {
      background-color: var(--alert-primary) !important;
    } @else {
      background-color: $alert-primary !important;
    }
  }
  &.accent {
    @if global-variable-exists(alert-accent) {
      background-color: var(--alert-accent) !important;
    } @else {
      background-color: $alert-accent !important;
    }
  }
  &.mat-stroked-button {
    background: transparent !important;

    &.error {
      @if global-variable-exists(alert-error) {
        border: 2px solid var(--alert-error) !important;
      } @else {
        border: 2px solid $alert-error !important;
      }
    }

    &.warning {
      @if global-variable-exists(alert-warning) {
        border: 2px solid var(--alert-warning) !important;
      } @else {
        border: 2px solid $alert-warning !important;
      }
    }

    &.info {
      @if global-variable-exists(alert-info) {
        border: 2px solid var(--alert-info) !important;
      } @else {
        border: 2px solid $alert-info !important;
      }
    }

    &.success {
      @if global-variable-exists(alert-success) {
        border: 2px solid var(--alert-success) !important;
      } @else {
        border: 2px solid $alert-success !important;
      }
    }
    &.default {
      @if global-variable-exists(alert-default) {
        border: 2px solid var(--alert-default) !important;
      } @else {
        border: 2px solid $alert-default !important;
      }
    }
    &.accent {
      @if global-variable-exists(alert-accent) {
        border: 2px solid var(--alert-accent) !important;
      } @else {
        border: 2px solid $alert-accent !important;
      }
    }
    &.primary {
      @if global-variable-exists(alert-primary) {
        border: 2px solid var(--alert-primary) !important;
      } @else {
        border: 2px solid $alert-primary !important;
      }
    }
  }
}
