$alert-success: #4caf50;
$alert-warning: #ff9800;
$alert-error: #f44336;
$alert-info: #2196f3;
$alert-default: #9e9e9e;
$alert-accent: #ff5722;
$alert-primary: #3f51b5;

$host-alert-success: var(--alert-success, $alert-success);
$host-alert-warning: var(--alert-warning, $alert-warning);
$host-alert-error: var(--alert-error, $alert-error);
$host-alert-info: var(--alert-info, $alert-info);
$host-alert-default: var(--alert-default, $alert-default);
$host-alert-accent: var(--alert-accent, $alert-accent);
$host-alert-primary: var(--alert-primary, $alert-primary);

// mdc-snackbar mat-mdc-snack-bar-container mdc-snackbar--open ng-tns-c104-11 ng-trigger ng-trigger-state success ng-star-inserted

.mat-mdc-snack-bar-container {
  span {
    color: #fff !important;
  }

  &.success .mdc-snackbar__surface {
    background-color: $host-alert-success !important;
  }
  &.warning .mdc-snackbar__surface {
    background-color: $host-alert-warning !important;
  }
  &.error .mdc-snackbar__surface {
    background-color: $host-alert-error !important;
  }
  &.info .mdc-snackbar__surface {
    background-color: $host-alert-info !important;
  }
  &.default .mdc-snackbar__surface {
    background-color: $host-alert-default !important;
  }
  &.accent .mdc-snackbar__surface {
    background-color: $host-alert-accent !important;
  }
  &.primary .mdc-snackbar__surface {
    background-color: $host-alert-primary !important;
  }

  .mat-simple-snack-bar-content {
    font-weight: 500 !important;
  }
}

.alert-button {
  color: #fff !important;
  min-width: 75px !important;

  &.accent {
    background-color: $host-alert-accent !important;
  }

  &.primary {
    background-color: $host-alert-primary !important;
  }

  &.error {
    background-color: $host-alert-error !important;
  }

  &.warning {
    background-color: $host-alert-warning !important;
  }

  &.info {
    background-color: $host-alert-info !important;
  }

  &.success {
    background-color: $host-alert-success !important;
  }

  &.default {
    background-color: $host-alert-default !important;
  }

  &.mat-mdc-outlined-button {
    background-color: transparent !important;

    &.accent {
      border-color: $host-alert-accent !important;
      color: $host-alert-accent !important;
    }

    &.primary {
      border-color: $host-alert-primary !important;
      color: $host-alert-primary !important;
    }

    &.error {
      border-color: $host-alert-error !important;
      color: $host-alert-error !important;
    }

    &.warning {
      border-color: $host-alert-warning !important;
      color: $host-alert-warning !important;
    }

    &.info {
      border-color: $host-alert-info !important;
      color: $host-alert-info !important;
    }

    &.success {
      border-color: $host-alert-success !important;
      color: $host-alert-success !important;
    }

    &.default {
      border-color: $host-alert-default !important;
      color: $host-alert-default !important;
    }
  }
}

.mat-mdc-dialog-container {
  --mdc-dialog-subhead-size: 20px !important;
}
